<div>
    <el-row :gutter="10">
        <el-col :span="7">
            <card style="margin-bottom:10px; height:700px;" title="Item to tag" subtitle="Find product item for this image">
                <sly-gallery :content="data.objectToTag"/>
                <div slot="header"> <el-button icon="circle-check" type="primary" size="small" @click="command('smth')">Tag</el-button></div>
                <!--<div slot="header"> <el-button icon="warning" type="danger" size="small">asdasda</el-button></div>-->
            </card>

        </el-col>
        <el-col :span="7">
            <card style="margin-bottom:10px; height:700px;" title="Candidate product" subtitle="Images of selected candidate product">
                <sly-gallery :content="data.imagesCandidates[state.selectedImageIndex]"/>
            </card>
        </el-col>
        <el-col :span="10">

            <card style="margin-bottom:15px; height:700px;" title="Search candidate product in database" subtitle="Use thumbnail or table view">
                <div class="fflex">
                    <el-select
                        v-model="state.selectedKeywords" multiple filterable :allow-create="true" placeholder="Please enter a keyword" style="width: 100%; margin-right: 10px;">
                        <el-option
                          v-for="item in data.keywords"
                          :key="item.value"
                          :label="item.value"
                          :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button icon="search" size="small"></el-button>
                </div>
                <el-tabs type="border-card" style="margin-top: 10px;">
                  <el-tab-pane label="Thumbnails">
                      <el-row>
                          <!--@#TODO: calc height here-->
                          <div style="max-height: 680px; overflow: auto;">
                                <div style="float: left; margin: 1px; width: 120px; border: 3px solid transparent;"
                                     :style="{ borderColor: state.selectedImageIndex === index ? '#20A0FF' : 'transparent' }" v-for="index in data.gridIndices">
                                    <el-tooltip class="item" effect="dark" :content="data.imagesGrid[index].label" placement="top-start">
                                        <img style="display: block; width: 100%; height: 100px; object-fit: contain; background: white;"
                                             :src="data.imagesGrid[index].url"
                                             @click="state.selectedImageIndex = index"
                                        />
                                    </el-tooltip>
                                    <!--<div v-if="item.label.length >= 15" style="text-align:center; word-wrap:break-word;">{{ item.label.substring(0,15)+".." }}</div>-->
                                </div>
                          </div>
                      </el-row>
                  </el-tab-pane>
                  <el-tab-pane label="Table">
                      <sly-table :options="{ perPage: state.perPage, pageSizes: state.pageSizes }" :content="data.table" v-model="state.table"></sly-table>
                  </el-tab-pane>
                </el-tabs>
            </card>
        </el-col>
    </el-row>


    <el-row>
        <card class="mt15" title="Debug state"><pre>{{state}}</pre></card>
    </el-row>
</div>